[2020-08-28 19:07] cbeleites commented on #277
There are only 2 such export functions, `write.txt.long()` and `write.txt.wide()`. I think they can stay in **hyperSpec**.
The question is then, should the corresponding `read.*()` functions stay in **hyperSpec** to provide minimal import/export capabilities without requiring the user to install further packages?

[2020-08-28 19:08] cbeleites commented on #230
@GegznaV is this solved by now? If so, please close. If not, please give further explanations. Thank you.

[2020-08-28 20:02] eoduniyi commented on #277
@cbeleites I think the functions should stay in `hyperSpec` for the point you mentioned. It reminds me of how companies sell a "comprehensive" base model for users, but also make "modules" that can be purchased and attached to increase or widen the scope of functionality of the base model. Although the `hyperSpec` ecosystem is open source, so no purchase necessary...only `install.packages("hySpc.*

[2020-08-31 07:32] cbeleites commented on #174
No, I have not yet taken care of this.

[2020-08-31 09:29] eoduniyi commented on #174
Oh oops, I will get on it ASAP.

[2020-08-31 15:05] GegznaV commented on #266
Does the name of this issue (_Formality of vignettes_) reflect the essence of this discussion?

Do we still discuss the style of English in the vignettes of about the way the `fileio.Rmd` vignettes should be split into pieces? (I suggeast renaming the issue)

[2020-08-31 15:08] GegznaV commented on #261
Let's focus on "*Add list-of-vignettes feature to all vignettes*" here and open separate issues for all other topics.

[2020-08-31 15:13] GegznaV commented on #230
I do not think it is solved if tests can get attached to a wrong namespace without warning.

In some cases, there were warnings/errors that the test could not be attached to a function (and I liked that). But it is confusing that for some functions this is not the case.

[2020-08-31 17:22] GegznaV opened #278 "Remove internal not used factor2num()"
There is a non-exported and not used function `factor2num()`. Shouldn't it be removed from **hyperSpec**? What do you think @cbeleites?

[2020-08-31 18:29] GegznaV opened #279 "Remove internal not used .call.list()"
There is a non-exported and not used function `.call.list()`. Shouldn't it be removed from **hyperSpec**? What do you think @cbeleites?

[2020-08-31 18:53] GegznaV opened #280 "Remove internal not used .split.dots"
There is a non-exported and not used function `.split.dots()`. Shouldn't it be removed from **hyperSpec**? What do you think @cbeleites?

[2020-08-31 21:27] GegznaV opened #282 "as.hyperSpec(<hyperSpec>) shouldn't fail"
Currently:

![image](https://user-images.githubusercontent.com/12725868/91770180-643f5180-ebe9-11ea-87e2-3d6fe7c1d031.png)

A new method `as.hyperSpec.hyperSpec()` could be created to prevent this. It could be used instead of `fixObject()` mentioned in #130.

[2020-08-31 21:34] GegznaV commented on #130
- Instead of `fixObject()`, I suggest creating method **`as_hypseSpec(<hyperSpec>)`** (see #282).
- Instead of `validObject()`, function **`is_hyperSpec()`** might be created. It may  merge the properties of current `validObject()` and `chk.hy()` as well as introduce new functionality (e.g., show additional messages, if the old version of `hyperSpec` object is used).

[2020-08-31 21:48] GegznaV opened #283 "Add function with autocompletion possibilities that creates new hyperSpec"
When I was a new user of **hyperSpec** package, I often struggled with `new("hyperSpec")` as in RStudio it does not prompt what arguments should I use and do not autocomplete the names of the arguments. So I think it would be nice to have an additional function named `new_hyperSpec()`, `create_hyperSpec()` or just `hyperSpec()` that is wrapper of `new("hyperSpec")` but has autocompletion possibili

[2020-08-31 22:58] GegznaV commented on #208
I'm going to rename some functions by following these principles:

- use Tidyverse style, where possible;
- use a common prefix for certain types of functions (when applicable; in some cases this requres rearanging function name parts):
    + prefix **`hy_`** for utility functions;
    + prefix **`spc_`** for functions that operate on `@spc` (whet it is needed to stress that calculation is made on

[2020-09-04 16:16] hadley commented on #276
Hmmmm, I haven't seen this again either 😞

[2020-09-04 16:16] #276 closed

[2020-09-07 19:16] GegznaV commented on #179
As **pkgdown** 1.6 released, I remove label `waiting`.

[2020-09-07 19:16] GegznaV commented on #179
Solved in 0043e82c

[2020-09-07 19:16] #179 closed

[2020-09-11 13:42] hadley opened #285 "Another failure with dev testthat"
I now see:

[code]

Could you please take a look? I'm planning to submit testthat to CRAN in about a month.

[2020-09-11 13:43] cbeleites commented on #285
Thanks, @hadley I'll have a look but probably not before next week.

[2020-10-23 08:17] pablovgd opened #286 "Problem reading large area scan (raman) with read.spc"
Hi all

Recently I encountered some problems when reading .spc files of large area scans with the function read.spc().  Reading .spc files of single spectrum .spc files works fine, but multiple spectra large area scans don't seem to work.
I get the following error:

[code]

Strange thing is that it only happens with files I export from the program WITec Project Four. Even stranger is that other .s

[2020-10-24 11:51] eoduniyi commented on #286
Hi @pablovgd 👋

Sorry to hear you're having some difficulties. Have you tried/looked into [`hySpc.read.txt`](https://github.com/r-hyperspec/hySpc.read.txt)? If not, please take a look at the GitHub documentation and try installing it, as I believe it's a good avenue for you to try.

In the meantime, I will be taking a closer look at your problem/file 👁️

[2020-12-18 14:02] galaxismad opened #287 "Implement usage of numeric vectors as input for wl.eval()"
Up to now, wl.eval expects as input already an hyperSpec object, using its wavelength axis to apply a function given in expression to it resulting in an hyperSpec object with the same wavelength axis as in the original hyperSpec object and values in spc column derived from applied function results.

Another intended use may be, that there is no initial hyperSpec object available, where the wavelen

[2020-12-18 14:16] galaxismad opened #288 "Add possibility to create hyperSpec object without spectra"
In addition to issues #287 and #283, it would be great to have the opportunity to initialize hyperSpec objects without spectra, meaning only wavelength axis is given during initialization, but no spectral intensities are given.

[2020-12-18 14:30] galaxismad opened #289 "decomposition does not work properly with hyperSpec objects containing no spectra"
Using the decomposition function with an hyperSpec function containing no spectra leads to an error with out of bounds description.

related issue: #288

[2020-12-18 14:31] galaxismad commented on #288
It can be done quite easily with the following statement:

`new("hyperSpec", wavelength = 1:100, matrix(NA, ncol = 100, nrow = 0))`

More intuitive would be:

`new("hyperSpec", wavelength = 1:100, spc = NULL)`

[2020-12-21 11:53] GegznaV opened #290 "Failed unit test: lattice-based plot() gives expected output"
Recently I noticed that one unit test fails in the `develop`ment version of **hyperSpec**:

![image](https://user-images.githubusercontent.com/12725868/102774369-84ab3b80-4393-11eb-9a27-b3c286f8543d.png)

This is the only issue I detected locally:
![image](https://user-images.githubusercontent.com/12725868/102774521-d2c03f00-4393-11eb-947c-b7f9fc95896c.png)

[2020-12-21 16:45] GegznaV commented on #289
@galaxismad could you provide a minimal reproducible example to test this behavior?

[2020-12-21 16:52] galaxismad commented on #289
`
spc <- new("hyperSpec", wavelength = 1:20, spc = matrix (NA, ncol = 20, nrow = 0))
decomposition(spc, matrix (20:1, ncol = 20, nrow = 1), scores = FALSE)
`
It would be expected, that the matrix is replacing the empty spc column, as a valid wavelength axis is available.

[2020-12-21 17:16] GegznaV commented on #288
The issue is fixed in #292. Let's wait if @cbeleites approves my suggestions.

[2020-12-21 18:21] #290 closed

[2020-12-21 18:26] GegznaV commented on #289
@galaxismad thank you for the clarification.

[2020-12-21 18:37] GegznaV commented on #287
@galaxismad again I would ask you to provide a minimal example of code on how the function works now and the way you would like it to work. The results of the two examples should coincide so that we could use them as a reference.

[2020-12-21 19:11] GegznaV commented on #289
Possibly related: #144

[2020-12-21 19:14] galaxismad commented on #287
The functions works now as follows:
[code]

What I like to have is something like:
[code]

So basically, it will not be dependend on a hyperSpec object as input, but also excepts an numeric vector, which than is used as wavelength instead of extracting the wavelength from a hyperSpec object internally. This results in a slightly different hyperSpec object as output, as the new hyperSpec object doe

[2020-12-21 21:31] GegznaV commented on #287
As I understand, the following code can do what @galaxismad expects:

[code]

Should we enhance `wl.eval()` to have this functionality, @cbeleites?

[2020-12-21 23:01] cbeleites commented on #287
Yes, I think this would be a good functionality to have. And as you say, it isn't difficult to implement.

[2020-12-22 00:41] GegznaV commented on #287
Please, check my implementation in #295

[2020-12-23 10:52] #282 closed

[2020-12-23 11:29] cbeleites opened #296 "Creating hyperSpec object without wavelengths"
This is the "transpose" of issue #288: creating a hyperSpec object where the spectra do not (yet) exist.

Suggested:

[code]

this works:

[code]

[2020-12-23 11:31] GegznaV commented on #296
I've solved this on my PC, just did not want to create too many PR before the current ones are reviewed.

[2020-12-23 11:32] GegznaV commented on #296
To clarify, I have suggestion for:

[code]

[2020-12-23 11:33] #288 closed

[2020-12-23 11:37] #287 closed

[2020-12-23 12:10] #283 closed

[2020-12-23 14:11] GegznaV commented on #296
I ran unit tests on my implementation and understood that the issue is more complex than it seemed at first glance.

Currently, the official solution to this issue in **hyperSpec** is to use `as.hyperSpec()`:

[code]

[code]

[code]

[2020-12-23 14:52] GegznaV commented on #144
I agree with @cbeleites:

[2020-12-23 15:00] GegznaV commented on #144
I also think that `as.hyperSpec()` (especially method `as.hyperSpec(<matrix>)`) could be rewritten in a way to incorporate the functionality of `decomposition()`. This could solve the renaming part suggested by @bryanhanson:

[2020-12-23 15:01] GegznaV opened #297 "Use more consistent signature for methods of as.hyperSpec()"
Currently, each method of `as.hyperSpec()` uses its own order, default values and number of arguments:

[code]

This makes it more difficult to use in other functions as each case should be addressed separately.
My suggestions would be to:

- use `NULL` for the default values in the signature and perform calculations or real initial values inside the methods;
- use consistent order of arguments;
-

[2020-12-23 17:28] GegznaV commented on #268
@eoduniyi Can you take time to solve this issue now (or in a period of a few days)? As there are vignettes in several *hySpc* packages, all of them should be checked. Changes should go to a separate branch which will be merged via pull request.

Code that may help:

[code]

You have to change `i` to select the file of interest and the code lists all the lines that start with `#`. It's a quick way

[2020-12-24 10:01] cbeleites commented on #297
This is a very good point. +1

[2021-01-05 06:03] eoduniyi commented on #268
Dear @GegznaV,

I'm still making my way through the vignettes. I have still yet to utilize your code snippet, but I agree, I think it's going to be helpful. Currently, I have had a few problems, which I've tried to note [here](https://storage.googleapis.com/work_bucket_4141/hyperSpec/hyperSpec/issues/hyperSpec_issue_268.pdf).

I should say, these notes (documentation and questions) are mostly for

[2021-02-11 19:36] GegznaV opened #299 "Rename functions (1): palette_"
This issue complements https://github.com/cbeleites/hyperSpec/issues/208#issuecomment-684085699.

In the development version of **`hyperSpec`**, I found 4 functions/objects that define color palettes.
I suggest using consistent naming (prefix **`palette_`**) for all palette-related objects:

Status | Current name          | Suggested name
:---:|----------------------|-------------------
Done in  #

[2021-02-11 20:50] GegznaV opened #300 "Rename functions (2): wl_"
This issue complements https://github.com/cbeleites/hyperSpec/issues/208#issuecomment-684085699.

Most of the functions that directly process `@wavelength` should start with prefix **`wl_`**. There are several wavelength-related functions in **`hyperSpec`** that, I'm certain, should be renamed (**group A**):

Status | Current name          | Suggested name    | Comment
:---:| ---------------------

[2021-02-11 21:34] GegznaV opened #301 "Rename functions (3): spc_"
This issue complements https://github.com/cbeleites/hyperSpec/issues/208#issuecomment-684085699.

I suggest renaming these functions to match *tidyverse* style better:

**Table 1**

Status | Current name          | Suggested name
:---:| ----------------------|-------------------
✔️ | `spc.NA.approx`       | `spc_na_approx`
✔️ | `spc.bin`             | `spc_bin`
✔️ | `spc.fit.poly`        | `spc_fi

[2021-02-11 22:01] GegznaV opened #302 "Rename functions (4): helpers"
This issue complements https://github.com/cbeleites/hyperSpec/issues/208#issuecomment-684085699.

Current name          | Suggested name    | Comment
----------------------|-------------------|-------------------------------------
`mergeextra`       | `merge_data` | More consistent naming with field `@data`.
`.fileio.optional` | `.spc_io_postprocess_optional` | Name that  conveys the essence of fu

[2021-02-11 22:17] GegznaV opened #303 "Rename functions (5): decomposition"
This issue complements https://github.com/cbeleites/hyperSpec/issues/208#issuecomment-684085699.

These functions may also be renamed. But extension or modification of functionality should also be introduced.

Current name          | Suggested name    | Comment | Note
----------------------|-------------------|------------------------------------- |:--:
`decomposition`       | `as.hyperSpec(<matri

[2021-02-12 08:17] GegznaV commented on #277
OK, then, talking about `read.txt.long()`,  `read.txt.wide()`, `write.txt.long()`, and  `write.txt.wide()`, let's rename the functions to match the *tidyverse* style and keep them in the main **`hyperSpec`** package.

[2021-02-12 08:17] #277 closed

[2021-02-14 02:24] eoduniyi commented on #268
![](https://github.trello.services/images/mini-trello-icon.png) [issue #268](https://trello.com/c/s2PFtWs5/150-issue-268)

[2021-02-15 15:18] bryanhanson commented on #299
`CB7` is color-blind-friendly so when renaming it should probably get a more descriptive name, perhaps something like `palette_colorblind`.

I'm in favor of these changes.

[2021-02-15 15:22] bryanhanson commented on #300
The proposed changes to group A & B make perfect sense to me.  Group C: are these functions exported?  I don't  think I have run into them.

[2021-02-15 15:23] bryanhanson commented on #301
I support this proposal.

[2021-02-15 15:24] bryanhanson commented on #302
`merge_data` sounds good; the other one I'm not familiar with so I will let others decide.

[2021-02-15 15:35] bryanhanson commented on #303
Regarding `chk.hy` also take a look at #130 and the cross-references there-in.  I think all these concerns can be fixed at once.

Regarding `decomposition` I authored #144 so I agree this should be renamed.

[2021-02-15 15:56] bryanhanson opened #304 "Documention of plotc uses a non-documented argument"
I noticed while looking at `plotspc` vs `plotc` that the documentation [here](https://cbeleites.github.io/hyperSpec/dev/reference/decomposition.html) uses in the example an argument `groups` that is not mentioned in the signature.  I think it actually passes through to lattice via `...` but the documentation says `...` is not used.  Needs investigation to verify.

[2021-02-15 16:40] cbeleites commented on #299
Sounds good to me.
I think this could be a good first issue, since it will get a newcomer through the deprecation etc. steps.

@GegznaV, if you agree, please tag it good-first-issue.

[2021-02-15 16:46] cbeleites commented on #300
- In group **A**, I'd like to keep `all_wl()` and `any_wl()` as they are: they are in a sense methods `all()` and `any()` for the wavelength slot. Only that the wavelength slot isn't a particular class, of course.
- In group **C**: should `freq` may become `Hz` because that's the actual unit behind `freq`, and `ev` -> `eV` since volts get a capital V. Not sure whether `raman` should stay as it is?

[2021-02-15 16:55] GegznaV commented on #300
@bryanhanson yes, they are exported

[2021-02-15 16:58] GegznaV commented on #299
I'll review later if it can be a `good-first-issue`

[2021-02-15 18:16] #218 closed

[2021-02-15 21:55] cbeleites commented on #304
@bryanhanson could you give some more details what you are missing?

`? plotc()` has:

[code]

(`decomposition()` doesn't use its `...` argument, its documentation is correct about that. I included it in order to allow the function easily to become generic in case that's needed somewhere)

[2021-02-15 23:51] bryanhanson commented on #304
OK, I see now that I was seeing `plotc()` in the example in `decomposition` and I was mixed up because the `...` in the documentation was about `decomposition` not `plotc`.  I should pay better attention!

[2021-02-15 23:51] #304 closed

[2021-02-16 13:22] GegznaV opened #307 "GHA raises 403 for R release (4.0.4)"
Currently, I faced an issue related to GHA and R devel when GHA is unable to install the R release (4.0.4). Currently, it touches #306 and #211. I opened a question here https://community.rstudio.com/t/r-lib-actions-setup-r-results-in-403-on-gha/96253
***
**UPDATE**
The issue is Linux-related. So I'll temporarily set `4.0.3` to be used explicitly instead of `release` GHA CI on Linux. After the iss

[2021-02-16 14:13] GegznaV commented on #307
This may be related to the fact that R 4.0.4 was released on 2021-02-15.
![image](https://user-images.githubusercontent.com/12725868/108074445-ddd0dc00-7071-11eb-874b-b2877e655449.png)

[2021-02-16 15:00] bryanhanson commented on #307
If you use twitter follow @githubstatus They have had a lot of problems with GHA lately so you might run into random outtages too.d

[2021-02-16 15:50] GegznaV commented on #307
Related: https://github.com/rstudio/r-builds/issues/89

[2021-02-16 17:14] GegznaV commented on #307
The issue is Linux-related. So I'll temporarily set `4.0.3` to be used explicitly instead of `release` GHA CI on Linux (ce29ef2)

[2021-02-16 18:20] GegznaV opened #308 "Can we get rid of these git branches?"
Currently, there are several branches in this repo I'm not familiar with (despite the fact that I updated some of them):

- [x] `ErickGSoC`
- [x] bugfix/285-new-testthat-version
- [x] `knitr-vignettes-header-fix`
- [x] `knitr-vignettes`
- [x] `test-write`

Can we delete them?

[2021-02-16 18:28] GegznaV commented on #268
@eoduniyi, have you at least partially solved this issue? I cannot find the branch dedicated to solving this issue.

[2021-02-16 19:01] eoduniyi commented on #268
Yes. I will do my best to wrap this issue up later tonight CST.  The branch is called "knitr-vignettes-header-fix"
![Screen Shot 2021-02-16 at 12 58 18 PM](https://user-images.githubusercontent.com/31193655/108109043-05ff1180-7057-11eb-9fe4-830530ca92c9.png)

[2021-02-16 19:27] GegznaV commented on #268
OK, I see. I was confused, as it does not contain the number of this issue. I expected something like `fix/268`, `fix-268`, `feature/268`, or `268-` at the beginning of the branch name.

[2021-02-16 19:32] eoduniyi commented on #308
@GegznaV, the `ErickGSoC` can be removed. I'm working on issue #268 in the `knitr-vignettes-header-fix` branch

[2021-02-16 19:36] GegznaV commented on #308
Thanks, Erick.

[2021-02-16 19:41] GegznaV commented on #230
I do not this is solved in the sense I imagine it should be solved. Yet now it is more clear for me, how the tests should be attached to S4 methods.

[2021-02-16 19:42] #230 closed

[2021-02-16 20:06] GegznaV commented on #38
@cbeleites, is this issue still relevant? If **no**, it should be closed.

[2021-02-16 20:08] GegznaV commented on #27
@cbeleites, is this issue still relevant? If **yes**, please, reopen it in https://github.com/r-hyperspec/hySpc.ggplot2/issues

[2021-02-16 20:08] #27 closed

[2021-02-16 20:29] GegznaV commented on #67
Closing this in favor of https://github.com/r-hyperspec/hySpc.read.txt/issues/33

[2021-02-16 20:29] #67 closed

[2021-02-16 20:43] GegznaV commented on #80
Closing this in favor of https://github.com/r-hyperspec/hySpc.read.txt/issues/34

[2021-02-16 20:43] #80 closed

[2021-02-16 21:01] GegznaV commented on #64
The link http://indatech.eu/hyternity-spatially-resolved-spectroscopy-nir-spectrometer/ opens as:

![image](https://user-images.githubusercontent.com/12725868/108120024-5010e300-70a9-11eb-890b-f3ae22baff98.png)

So the link should be updated.

@cbeleites Should we move this issue to https://github.com/r-hyperspec/hySpc.read.txt/issues

[2021-02-16 23:14] GegznaV commented on #268
@eoduniyi, can I expect your PR before 2021-02-23?

[2021-02-16 23:16] eoduniyi commented on #268
Yes.

[2021-02-22 21:28] eoduniyi commented on #268
Using the code snippets you outlined above, all the section names look good to me:
[code]

[code]

For example,
[code]

[code]

@GegznaV, Is there a particular `.Rmd` or set of `.Rmd` files you want me to take a look at (?) 🤔

[2021-02-23 11:10] GegznaV opened #309 "Rename functions (6): wl_"
This issue complements https://github.com/cbeleites/hyperSpec/issues/208#issuecomment-684085699.

Most of the functions that directly process `@wavelength` should start with prefix **`wl_`**. There are several wavelength-related functions in **`hyperSpec`** that, I'm certain, should be renamed. We agreed on these:

Status | Current name          | Suggested name    | Comment
:---:| ---------------

[2021-02-23 11:45] GegznaV commented on #308
I removed `ErickGSoC`

[2021-02-23 12:50] GegznaV commented on #268
I think, there was something wrong with communication as the issue could be solved without any automatic tools.

[2021-02-23 13:37] cbeleites commented on #308
- I removed the testthat bugfix
- `knitr-vignettes` could go but for @eoduniyi 's commit in December - not sure whether that need to be moved/picked somewhere else first?

[2021-02-23 14:03] eoduniyi commented on #308
@cbeleites, both the `knitr-vignettes` and the `knitr-vignettes-header-fix` can be deleted.

[2021-02-23 15:38] GegznaV opened #311 "Update GHA workflows when pkgload binaries 1.2.0 are on CRAN"
Undo a13307c when `pkgload` 1.2.0 binaries are built on CRAN.

[2021-02-23 15:41] #268 closed

[2021-02-23 16:41] GegznaV commented on #210
We decided not to use dependency on **`tibble`** package.

[2021-02-23 16:41] #210 closed

[2021-02-23 17:39] #209 closed

[2021-02-23 18:17] #307 closed

[2021-02-24 11:07] GegznaV commented on #299
Remove `NOT DONE` in `NEWS.md` after the remaining functions are properly renamed and the old ones are deprecated.
The rows to fix in `NEWS.md`:

     Deprecated function     | New (replacement) function       | Related issues
    -------------------------|-------------------------------   | ----------------
     `matlab.dark.palette`   | `palette_matlab_dark`            |  #208, #299 NOT DONE

[2021-02-24 12:07] GegznaV commented on #300
At least for now I'll leave the current names of  `all_wl` and `any_wl` but at least temporarily deprecate unit conversion functions.

[2021-02-24 12:18] GegznaV opened #314 "Function read.mat.Witec() is not properly deprecated"
Is function `read.mat.Witec()` already moved to the appropriate package? It is not properly deprecated yet.

[2021-02-24 13:35] #233 closed

[2021-02-24 13:35] #301 closed

[2021-02-24 13:35] #302 closed

[2021-02-24 13:35] #309 closed

[2021-03-25 04:59] Ayushsunny commented on #275
Hello @GegznaV sir So I have to start working on this issue?
can you explain a bit more that what's the exact issue and what changes do I have to make?

[2021-04-09 03:43] bryanhanson opened #316 "What's going on with spc_fix_colnames?"
I was trying to build `hySpc.dplyr` locally and got the message  that `Error: object ‘.spc_fix_colnames’ is not exported by 'namespace:hyperSpec'`  A little exploration suggests that the function was renamed to `fix_spc_colnames` but that the original name is still in use (and it's been deprecated).  I did this:

[code]
which gives some idea of where the problems are.  The `NEWS.md` file gives the

[2021-04-09 21:54] GegznaV commented on #316
@bryanhanson Can you confirm that you installed the newest development version of `hyperSpec` from `@master` branch from GitHub before building `hySpc.dplyr` locally?

[2021-04-09 22:08] GegznaV commented on #316
No build errors are found while building on my PC locally:
![image](https://user-images.githubusercontent.com/12725868/114245354-ff2ab600-9998-11eb-9dcd-db8f024617a6.png)

[2021-04-09 22:46] bryanhanson commented on #316
Ah, I just ran plain `roxygenize()` which might miss the extra roclets.  Will try again later tonight and update the issue.  Thanks.

[2021-04-23 14:35] sangttruong opened #319 "incorrect spe test file dimension"
The blut1.spe file doesn't work because its ydim = 0, and ydim is used to set the dimention of another matrix (hence the function throws an error). read_spe() works just fine on spe_format_3.0.spe.

[2021-04-23 14:37] sangttruong commented on #319
@cbeleites

[2021-04-23 14:53] #319 closed

[2021-04-23 14:53] sangttruong commented on #319
Reassign in r-hperspec/hySpc.read.spe

[2021-04-23 14:54] cbeleites commented on #319
This should be in https://github.com/r-hyperspec/hySpc.read.spe/issues/1

[2021-04-30 18:55] GegznaV commented on #316
@bryanhanson, have you found the solution to this issue?

[2021-04-30 19:12] GegznaV opened #320 "Can we relicense hyperSpec to MIT as in tidyverse?"
Some time ago we had a discussion that `hyperSpec` could be relicensed from GPL3 to MIT license. Currently, authors of `tidyverse` are systematically relicensing their packages to MIT, e.g., https://github.com/tidyverse/readr/issues/1190. Could we also do the same thing? I.e., create a new issue where all contributors could agree to relicense the package.

What do you think @cbeleites and @bryanha

[2021-04-30 21:56] bryanhanson commented on #320
Claudia will have to decide on this but I'm pretty sure she had secured the OK from many of the contributors already.

[2021-05-27 22:04] #278 closed

[2021-05-27 22:04] #279 closed

[2021-05-27 22:04] #280 closed

[2021-05-27 23:07] GegznaV opened #321 "In R 4.1.0, some plot-related unit tests fail"
Some unit tests related to plotting fail in R 4.1.0 or newer. We should find out what changes create these failures and if it is serious.

This could also be a false alarm if changes are only related to how unit tests work on different versions of R.

[2021-06-11 19:45] GegznaV commented on #311
This issue can be solved as `pkgload` 1.2.1 is on cran. But before this, the current CI workflow must be fixed.

[2021-06-15 11:05] GegznaV opened #322 "Update CI workflow for Linux"
GH actions issues this warning:
![image](https://user-images.githubusercontent.com/12725868/122041143-4ee68d00-cde1-11eb-9d4e-7f9f2500fb13.png)

We should update CI workflow in other repos and here.

Related:  r-hyperspec/pkg-skeleton#17

[2021-06-15 11:18] GegznaV commented on #321
It seems that unit tests got fixed without our interruption:

![image](https://user-images.githubusercontent.com/12725868/122042710-29f31980-cde3-11eb-930d-1d877577eab7.png)

![image](https://user-images.githubusercontent.com/12725868/122042832-51e27d00-cde3-11eb-9cc1-00342fa1cf9c.png)

![image](https://user-images.githubusercontent.com/12725868/122043914-915d9900-cde4-11eb-9b08-89dd283171d1.png)

[2021-06-15 15:50] bryanhanson commented on #322
If you can wait a few days I will fix all of these.

[2021-06-17 17:15] bryanhanson commented on #322
Hmm I fixed it in https://github.com/cbeleites/hyperSpec/commit/6d8cf69b65eb39355fcddd5570021a8639a6c183

[2021-06-17 17:15] #322 closed

[2021-06-17 18:33] #311 closed

[2021-06-25 06:00] sangttruong opened #326 "Functions moved to hySpc.read.jdx"
We write new functions for hySpc.read.jdx so there isn't any function moving from hyperSpec to the new package. But the old functions for read jdx file are still needed to be deprecated in hyperSpec.

[2021-06-25 06:05] sangttruong opened #327 "Functions moved to hySpc.read.spe"
- read_spe
- read_spe_xml
- read_spe_xml_string
- read_spe_header
- spe_showcalpoints
- unit tests

[2021-06-25 14:02] #299 closed

[2021-07-03 19:56] cbeleites opened #328 "hy_list_available_hySpc_packages() not working"
... and the unit test fails.

I think the resulting JSON is not properly processed.

[2021-07-10 13:48] GegznaV opened #330 "Fix style of function description titles"
The current version of tidyverse style guide ([section 7](https://style.tidyverse.org/documentation.html#title-and-description)) says:

![image](https://user-images.githubusercontent.com/12725868/125165177-88bb7100-e19e-11eb-8a39-c79df9c71bde.png)

Some titles do not follow these guidelines.

[2021-07-10 13:54] GegznaV commented on #328
Please, give more details on this and provide a reprex. I cannot reproduce the failure:

![image](https://user-images.githubusercontent.com/12725868/125165424-7d1c7a00-e19f-11eb-965b-d5bf726e696a.png)

[2021-07-10 13:56] GegznaV commented on #328
I use the current `develop` branch and face no issue. Is it a platform-specific or language-specific issue?

[2021-07-10 14:07] GegznaV commented on #327
As it is not explicitly stated in the description, I understand that these functions must be properly deprecated.

[2021-07-10 14:19] GegznaV commented on #286
Closing in favor to `r-hyperspec/hySpc.read.spc#2`

[2021-07-10 14:19] #286 closed

[2021-07-10 14:38] GegznaV commented on #124
I think, the discussion must continue in  r-hyperspec/hySpc.read.spc#3 as the functions related to spc were moved to package **`hySpc.read.spc`**.

[2021-07-10 14:38] #124 closed

[2021-07-10 15:18] GegznaV commented on #308
@sangttruong should the branch `test-write` be deleted or merged into `develop`? If it should be merged, please, create PR and reference to this issue.

[2021-07-10 22:05] #314 closed

[2021-07-10 22:05] #327 closed

[2021-07-10 23:20] GegznaV opened #335 "List all deprecated functions in NEWS"

[2021-07-10 23:29] #330 closed

[2021-07-12 13:06] #326 closed

[2021-07-12 13:09] #321 closed

[2021-07-12 13:13] #285 closed

[2021-07-12 17:03] #335 closed

[2021-07-12 17:29] GegznaV commented on #208
I'm closing this issue as there were more specific issues (listed above) opened.

[2021-07-12 17:29] #208 closed

[2021-07-12 17:32] GegznaV commented on #38
@cbeleites, is this issue still relevant? If **yes**, it should be moved (reopened) in relevant *hySpc.read* packages.

[2021-07-12 17:38] GegznaV commented on #64
@cbeleites, where should we move this topic to:

a) to https://github.com/r-hyperspec/hySpc.read.txt or
b) to https://github.com/r-hyperspec/hySpc.read.spc or
c) Just close without reopening elsewhere.

[2021-07-12 17:45] GegznaV commented on #93
I'm closing this old discussion.

[2021-07-12 17:45] #93 closed

[2021-07-12 22:22] GegznaV opened #337 "Is this function name correnct: rmmvnorm"
@cbeleites, in file `mvtnorm.R`, is function name is spelled correctly: `rmmvnorm()`?

[2021-07-14 08:54] GegznaV opened #339 "Rename 'vanderMonde()'"
@cbeleites, should we rename `vanderMonde()` into `Vandermonde()` or into something else? What are the suggestions?

Note: to avoid conflicts, renaming should be done only after #338 is merged.

[2021-07-14 10:38] GegznaV opened #340 "Convention to name internal functions"
While workng on #238 (via #338) I found this in `Arith.R`:

[code]

We can extend it to, e.g.:

[code]

And add to `CONTRIBUTING.md`

What do you think?

[2021-07-14 10:53] GegznaV opened #341 "Review and update unit tests in Arith.R"
While working on #338, I noticed that some unit tests (UT) in `Arith.R` are missing. So UTs must be reviewed and updated in this file.

Blocked until #338 is merged.

[2021-07-14 11:31] GegznaV opened #342 "Convert `labels<-` into generic function"
Shouldn't function `labels<-` be converted into S4 generic as `labels()` is?

[2021-07-14 11:40] GegznaV opened #343 "How to use validObject() and chk.hy()"
@cbeleites, why in some functions only `validObject()`, in some only `chk.hy()`, and in some both `validObject()` and `chk.hy()` are used? What is the pattern? How to know which combination should be used?

[2021-07-14 11:44] cbeleites commented on #337
`mvtnorm::rmvnorm()` (with 1 m) allows a single covariance matrix.

`hyperSpec::rmmvnorm()` (with 2 m) allows *m*ultiple covariance matrices for multiple groups.
It has methods not only for hyperSpec objects but also such a multi-group extention for numeric objects.

We can discuss what a better name would be, and the documentation could definitively do with a better description. But the name shou

[2021-07-14 11:47] GegznaV commented on #337
OK, now I understand it better.
Is it ok, if we added this to the description (if it is missing, I did not study the documentation very deeply):

[code]

[2021-07-14 11:52] GegznaV commented on #275
@bryanhanson, could you take care of this?

[2021-07-14 11:59] cbeleites opened #344 "pearson.dist with flat spectra"
When calculating `pearson.dist()` (which is basically a scaled correlation between rows/spectra) with a perfectly flat spectrum, the result is `NaN`.

This is caused by the standardization of the data matrix: the variance within the flat spectrum is 0, so a division by 0 occurs.

- The behaviour is consistent with `cor(x, y)` which returns `NA` in this case.
- OTOH, we may say that since the covar

[2021-07-14 12:54] GegznaV commented on #344
By saying "flat spectrum", do you mean a spectrum in which all intensities are the same, i.e., constant?

[2021-07-14 13:01] cbeleites commented on #344
yes

[2021-07-14 13:07] cbeleites commented on #343
- `chk.hy()` checks whether the object is of class hyperSpec, regardless of its validity.
- `validObject()` checks whether an S4 object is valid (regardless of whether it is a hyperSpec object).

So,

- `chk.hy()` is not needed when method dispatch guarantees that the object if of class hyperSpec.
   - This will mostly happen during input checking.
- whenever a function does things that may make t

[2021-07-14 13:08] GegznaV commented on #344
1) I see, that in documentation the distance is defined as `D^2 = (1 - COR (x')) / 2`. What does `x'` mean?)

2) In the abstract of https://arxiv.org/abs/1908.06029, a bit different formula of Pearson distance is given.

3) How should we interpret the Pearson distance? What are the min and max boundaries and what are the "special points" (that show, e.g., min and max distance)?

[2021-07-14 13:11] bryanhanson commented on #275
Will do!

[2021-07-14 13:11] GegznaV commented on #344
Here (https://rdrr.io/cran/rdist/man/rdist.html) also a bit different formula:
![image](https://user-images.githubusercontent.com/12725868/125627754-4032621b-88e7-4d63-9797-aaa1bb921c87.png)

[2021-07-14 13:15] GegznaV commented on #344
I feel that I do not have enough competence on this distance yet.
@claudia, could you suggest some good freely available but reliable sources on this type of distance? (I'm not sure if those I referenced are reliable).

[2021-07-14 13:34] bryanhanson commented on #344
@GegznaV I sent you a document on Slack that I have found very helpful.

[2021-07-14 14:19] #238 closed

[2021-07-14 14:27] cbeleites commented on #328
TODO @cbeleites

- [x] works in Console on Desktop (Linux, EN)
- [x] fails in RStudio test pane on Desktop (Linux, EN)
- [ ] check  in Console on Laptop (Linux, DE)
- [ ] check  in RStudio test pane on Laptop (Linux, DE)

[2021-07-14 15:50] bryanhanson commented on #275
Closing here, same issue opened over at https://github.com/r-hyperspec/r-hyperspec.github.io/issues/19

[2021-07-14 15:50] #275 closed

[2021-07-14 16:59] GegznaV opened #345 "New contributions must go to r-hyperspec/hyperSpec"
**hyperSpec** was moved to https://github.com/r-hyperspec/hyperSpec so your new contributions must go there. This repo will not be used anymore an will be **archived** soon.

[2021-07-15 16:47] cbeleites commented on #339
`vanderMonde()` should be renamed - if only because I misspelled the name (thinking it was Dutch van der Monde when it is French Vandermonde).

I propose to rename it into `poly()`, make that generic and extend the functionality to provide orthogonal polynomials:

- `vanderMonde()` calculates so-called raw polynomials, either directly on the `wl()` of a hyperSpec object or on some rescaled version

[2021-07-15 17:58] GegznaV commented on #328
@cbeleites, install r-hyperspec/hyperSpec#3 and report if this improved your issue (it is not intended to solve it completely).

By the way, does the alternative method described in the documentation of `hy_list_available_hySpc_packages()` work without errors? Or does it also result in an error and not a correct list of available packages?

[2021-07-15 19:29] cbeleites commented on #339
This issue has been moved to https://github.com/r-hyperspec/hyperSpec/issues/4

[2021-07-15 19:29] #339 closed

[2021-07-15 19:38] bryanhanson commented on #328
Despite recent improvements the code does not work on a Mac.  I have done some scraping of the GH api and the following code is more robust:
[code]
but it would introduces 2 new dependencies, `httr` and `jsonlite`.  Not sure we want to do this.  The function we are fixing is not called by any other functions as far as I can tell.  Perhaps a simpler solution is to disable the unit test on Macs.

[2021-07-15 19:55] cbeleites commented on #340
would be fine with me - but do we actually have these cases?

[2021-07-15 19:57] cbeleites commented on #308
done during online meeting

[2021-07-15 19:57] #308 closed

[2021-07-15 19:58] GegznaV commented on #340
In the extension table, I wrote the abbreviations of object typers that were used by methods.

[2021-07-15 20:00] GegznaV commented on #328
The dependencies were the reason why this code is in description and not in the body of actual functions.

[2021-07-16 10:58] GegznaV commented on #328
I think, that the issue is that on different machines GitHub API gives a response that is formatted in a bit different way. Please test  r-hyperspec/hyperSpec#6 and confirm that the issue is solved or help to debug the issue (instructions are in the PR).

[2021-07-16 11:26] GegznaV commented on #344
Some thoughts:

If we think that a value should be returned instead of `NaN` for "flat" spectrum, a warning must be issued in this case. I think, "flat" spectrum (saturated in the whole wavelength range or with no signal) should be a tail-tail sign that something is wrong and I user knows about the presence of spectra like this one.

We could have an argument for options:

- for a regular algorith

[2021-07-16 11:31] GegznaV commented on #337
The main reason I noticed the name is that the file name does not match the function name. So, I think, the file should be renamed.

[2021-07-16 11:36] GegznaV commented on #214
This issue was a call for discussion so I'm closing it now.

[2021-07-16 11:36] #214 closed

[2021-07-16 14:27] bryanhanson commented on #344
I think it is unwise to do anything other than what the functions naturally return (`NaN`).  Users need to know there is an issue with their data.  If the user wants to handle such data in a different way, it is not that hard to so (but probably depends on their final use of the information, which we don't know and shouldn't try to guess).

[2021-07-16 15:08] GegznaV commented on #344
I agree with the idea that the original algorithm shouldn't be touched if it is widely accepted to use the algorithm in that form and that is the user's responsibility to fix his/her data as we cannot think of all boundary conditions and in some situations, our "shortcut solution" can be even more unexpected.

Yet, we can create a section in the documentation on how to deal with situations like th

[2021-07-26 20:45] #328 closed

[2021-07-27 19:16] GegznaV commented on #207
I'm closing this as some other more specific tasks on how to improve unit tests should be created in separate issues.

[2021-07-27 19:16] #207 closed

[2021-07-27 19:30] GegznaV commented on #300
This issue is solved.

We leave `all_wl()` and `any_wl()` as they work on logical matrix-like object and not on `@wavelength` slot of a hyperSpec object.

[2021-07-27 19:30] #300 closed

[2021-07-27 19:32] GegznaV commented on #337
I'm closing this here as it already reopened as  r-hyperspec/hyperSpec#8

[2021-07-27 19:32] #337 closed

[2021-07-27 19:35] GegznaV commented on #274
I think, here are 2 issues mixed into one: the author list in DESCRIOTION and suggestion to weite a paper on `hyperSpec`.

[2021-07-27 19:41] GegznaV commented on #274
@cbeleites, is the list of authors and contributos is complete in DESCRIPTION?

 - If yes, this issue should be closed with no further action.
 - If no, this issue should be closed here and a similar issue should be opened on r-hyperspec/hyperSpec

[2021-07-27 22:12] GegznaV commented on #38
These are related issues:

- r-hyperspec/hySpc.read.ENVI#12
- r-hyperspec/hySpc.read.spc#11
- r-hyperspec/hySpc.read.spe#18
- r-hyperspec/hySpc.read.txt#43

So I close this issue. If I missed something, please, reopen the relevant parts of this issue elsewhere.

[2021-07-27 22:12] #38 closed

[2021-07-27 22:43] GegznaV commented on #90
Issue moved and reopened as:
- https://github.com/r-hyperspec/hyperSpec/issues/14

[2021-07-27 22:43] #90 closed

[2021-07-27 22:48] GegznaV commented on #246
Parameterized  `faux_cell()` is not on the milestone of **Version 1.0**. So should this issue be on this milestone, @cbeleites?
I suggest removing **Version 1.0** from this issue.

[2021-07-27 23:06] GegznaV commented on #248
Moved and reopened as:
- https://github.com/r-hyperspec/hyperSpec/issues/15

[2021-07-27 23:06] #248 closed

[2021-07-27 23:24] GegznaV commented on #297
Moved and reopened as:
- https://github.com/r-hyperspec/hyperSpec/issues/16

[2021-07-27 23:24] #297 closed

[2021-07-27 23:36] GegznaV commented on #177
Issue moved and reopened as:
- https://github.com/r-hyperspec/hyperSpec/issues/17

[2021-07-27 23:36] #177 closed

[2021-07-27 23:56] #340 closed

[2021-07-28 00:04] GegznaV commented on #341
Moved and reopened as:
- https://github.com/r-hyperspec/hyperSpec/issues/18

[2021-07-28 00:04] #341 closed

[2021-07-28 00:12] GegznaV commented on #344
@cbeleites, What should we do with this issue? Is it OK to leave NA, when the algorithm issues NA?

[2021-07-30 20:58] cbeleites commented on #344
Yes, but I've been looking into the paper you linked and realized that "Pearson distance" is quite ambiguous.
Squared vs. root and so on.

I'd like to sort this out for the release. I can open a new branch for this, though.
So for the moment, please leave this issue open.

[2021-08-12 08:37] GegznaV commented on #241
Reopened as https://github.com/r-hyperspec/hyperSpec/issues/54

[2021-08-12 08:37] #241 closed

[2021-08-12 09:15] GegznaV commented on #144
This discussion moved and reopen as:
- https://github.com/r-hyperspec/hyperSpec/issues/55

[2021-08-12 09:15] #144 closed

[2021-08-12 09:17] GegznaV commented on #303
This discussion moved and reopen as:
- https://github.com/r-hyperspec/hyperSpec/issues/55

[2021-08-12 09:17] #303 closed

[2021-08-12 09:26] GegznaV commented on #212
**This discussion was moved and reopen as:**
- https://github.com/r-hyperspec/hyperSpec/issues/56

[2021-08-12 09:26] #212 closed

[2021-08-12 09:37] GegznaV commented on #174
**This discussion was moved and continues as:**

- https://github.com/r-hyperspec/hySpc.read.txt/issues/79

[2021-08-12 09:37] #174 closed

[2021-08-12 09:43] #154 closed, assigned to GegznaV

[2022-08-06 19:00] #343 closed

[2022-08-06 19:06] GegznaV commented on #296
Issue reopened as https://github.com/r-hyperspec/hyperSpec/issues/99

[2022-08-06 19:06] #296 closed

[2022-08-06 19:14] GegznaV commented on #240
Moved to https://github.com/r-hyperspec/hyperSpec/issues/100

[2022-08-06 19:14] #240 closed

[2022-08-06 19:15] #193 closed

[2022-08-06 19:19] GegznaV commented on #236
Moved to https://github.com/r-hyperspec/hyperSpec/issues/101

[2022-08-06 19:19] #236 closed

[2022-08-08 14:02] GegznaV commented on #102
I think, the discussion should continue here:
- https://github.com/r-hyperspec/hySpc.read.spc/issues/26